.cart {
    display: flex;
    justify-content: center;
}

.cart p {
    text-align: center;
}

.cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart li {
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 275px;
}

.receipt, .leftIcon {
    margin-right: 8px;
}

.container-card {
    display: flex;
    justify-content: center;
}

.cardflex {
    display: flex;
    min-width: 800px;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.cover {
    width: 300px;
}

.controls {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-bottom: 8px;
}

.divider {
    width: 1px;
    height: 28px;
    margin: 4px;
}
