.main-navigation {
    width: 100%;
}

.main-navigation nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main-navigation li {
    margin: 0 1rem;
}

.main-navigation a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.buttonNav {
    padding: 8px 16px !important;
}
